@page
@model ProjektSpotkaniaGrupTematycznych.Pages.Meet.MeetingDetailsModel
@{
}

@using Microsoft.AspNetCore.Identity
@using ProjektSpotkaniaGrupTematycznych.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Details Meeting</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.OnlineLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.OnlineLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.ParticipantLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ParticipantLimit)
        </dd>

    </dl>
</div>
<h3>Participants @Model.Meeting.Participants.Count/@Model.Meeting.ParticipantLimit</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Meeting.Participants.ToList()[0].User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meeting.Participants.ToList()[0].User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meeting.Participants.ToList()[0].User.LastName)
                </th>
                <th>
                    <a>Action</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Meeting.Participants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @if (Model.IsMeetingAdmin(UserManager.GetUserId(User), Model.Group))
                        {
                            <a asp-page="/Manage/DeleteParticipant" asp-route-uid="@item.UserId" asp-route-mid="@Model.Meeting.Id">Delete </a>
                        }
                        UserDetails(comingSoon)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @if (UserManager.GetUserId(User) == Model.Group.OwnerID)
    {
        <a asp-page="./EditMeeting" asp-route-mid="@Model.Meeting.Id">Edit</a>
    }
</div>
