@page
@model ProjektSpotkaniaGrupTematycznych.Pages.Meet.MeetingsModel

@{
    ViewData["Title"] = "Meetings";
}
@using Microsoft.AspNetCore.Identity
@using ProjektSpotkaniaGrupTematycznych.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<h1>Meetings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].ParticipantLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meetings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantLimit)
                </td>
                <td>
                    <a asp-page="/Meet/MeetingDetails" asp-route-mid="@item.Id">Details</a> |
                    @if (Model.IsInMeeting(item, UserManager.GetUserId(User))) {
                        <a asp-page="/Meet/LeaveMeeting" asp-route-mid="@item.Id">Leave meeting</a> 
                       }
                    <a asp-page="/Meet/GetTicket" asp-route-mid="@item.Id">Get ticket</a>
                </td>
            </tr>
        }
    </tbody>
</table>
