@page
@model ProjektSpotkaniaGrupTematycznych.Pages.DetailsGroupModel

@{
    ViewData["Title"] = "DetailsGroup";
}

@using Microsoft.AspNetCore.Identity
@using ProjektSpotkaniaGrupTematycznych.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>DetailsGroup</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupOwner.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupOwner.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupCategory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Group.GroupCategoryId != null)
            {
                @Html.DisplayFor(model => model.Group.GroupCategory.CategoryName)
            }
            else
            {
                <a>Owner of the group has not selected category!</a>
            }
        </dd>

    </dl>
</div>
<h3>Members</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Members.ToList()[0].User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Members.ToList()[0].User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Members.ToList()[0].User.LastName)
                </th>
                <th>
                    <a>Action</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Group.Members)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @if (Model.Group.OwnerID == UserManager.GetUserId(User))
                        {
                        <a asp-page="/Manage/DeleteMember" asp-route-uid="@item.UserId" asp-route-gid="@Model.Group.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h3>Meetings</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Meetings.ToList()[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Meetings.ToList()[0].Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Meetings.ToList()[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Meetings.ToList()[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group.Meetings.ToList()[0].ParticipantLimit)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Group.Meetings)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @item.Participants.Count()/@Html.DisplayFor(modelItem => item.ParticipantLimit)
                </td>
                <td>
               @if (!(UserManager.GetUserId(User) == Model.Group.OwnerID || Model.IsInMeeting(item, UserManager.GetUserId(User)) || item.Participants.Count()>=item.ParticipantLimit))
                {
                    
                    <a asp-page="./Meet/JoinMeeting" asp-route-mid="@item.Id">Join Meeting</a>
                    
                }
                else if (UserManager.GetUserId(User) == Model.Group.OwnerID)
                {
                    
                    <a asp-page="./Meet/DeleteMeeting" asp-route-mid="@item.Id">Delete Meeting</a>
                }
                <a asp-page="./Meet/MeetingDetails" asp-route-mid="@item.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (UserManager.GetUserId(User) == Model.Group.OwnerID)
    {
        <a asp-page="./Meet/CreateMeeting" asp-route-gid="@Model.Group.Id">Add meeting</a>
    }
</div>
@if (UserManager.GetUserId(User) == Model.Group.OwnerID)
{
    <h3>Inv requests</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvitationRequests[0].RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvitationRequests[0].InvokerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvitationRequests[0].Reason)
                </th>
                <th>
                    <a>Action</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvitationRequests)
            { if (item.Status == InvitationStatus.Pending) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Model.Invokers.Where(p => p.Id == item.InvokerId).FirstOrDefault().UserName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        <a asp-page="/Manage/AcceptRequest" asp-route-id="@item.Id">Accept</a> |
                        <a asp-page="/Manage/DetailsGroup" asp-route-id="@item.Id">Decline</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
}
<div>
    @if (UserManager.GetUserId(User) == Model.Group.OwnerID)
    {
    <a asp-page="./EditGroup" asp-route-id="@Model.Group.Id">Edit</a>
    }
<a asp-page="./Groups">Back to List</a>
</div>
