@page
@model ProjektSpotkaniaGrupTematycznych.Pages.GroupsModel

@{
    ViewData["Title"] = "Groups";
}
@using Microsoft.AspNetCore.Identity
@using ProjektSpotkaniaGrupTematycznych.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Groups</h1>

<p>
    <a asp-page="/CreateGroup">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].GroupCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Groups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupCategory.CategoryName)
                </td>
                <td>
                    <a asp-page="./DetailsGroup" asp-route-id="@item.Id">Details</a> |

                    @if (UserManager.GetUserId(User) == item.OwnerID)
                    {
                        <a asp-page="./EditGroup" asp-route-id="@item.Id">Edit</a>
                        <a> | </a>
                        <a asp-page="./DeleteGroup" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                       @if (Model.InvRequests.Count == 0)
                        {
                            <a asp-page="./Enlist" asp-route-id="@item.Id">Become a member!</a>
                        }
                        else
                        {
                           @foreach (var x in Model.InvRequests)
                            {
                               @if (UserManager.GetUserId(User) == x.InvokerId && item.Id == x.GroupID)
                                {
                                   @if (x.Pending)
                                    {
                                       <a style="color:lightblue">Request Pending</a>

                                    }
                                   @if (x.Declined)
                                    {
                                        <a style="color:red">Request Declined</a>

                                    }
                                    @if (x.Pending == false && x.Declined == false)
                                    {
                                        <a style="color:forestgreen">Request Accepted</a>

                                    }
                                }
                                else
                                {
                                    <a asp-page="./Enlist" asp-route-id="@item.Id">Become a member!</a>
                                    break;
                                }
                            }

                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="sidebar sticky">
    <form class="col-md-6" method="post">
        <div class="center" style="width:max-content">
            <input placeholder="Search by category" type="text" asp-for="CategoryName" />
        </div>
        <div class="center" style="width:max-content">
            <input placeholder="Search by city" type="text" asp-for="CityName" />
        </div>
        <div class="center" style="width:max-content">
            <input placeholder="Search by group name" type="text" asp-for="GroupName" />
        </div>
        <div class="center" style="width:max-content">
            <input type="submit" value="Search" />
            </div>
    </form>
</div>